* {
    font-size: 10px;
    font-family: Myriad Pro;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 30rem;
    background-image: url(/assets/img/mountain.jpeg);
    // filter: grayscale(60%); 
    background-repeat: no-repeat;
    background-position: relative;
    background-position-x: center;
    background-position-y: 10%;
    background-size: cover;

}

.top-header {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.hmenu {
    width: 5%;
    margin-top: 2%;
display: flex;
flex-direction: column;
justify-content: flex-start;
margin-right: 2%;
    a {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        // margin-right: 1.1%;
    }

    :hover {
        color: #473d30;
        .about{
            display: block;
        }
        .prtf{
            display: block;
        }
        .ftr{
            display: block;
        }
        .bl{
            display: block;
        }
        .prc{
            display: block;
        }
        .shrt{
            display: block;
        }
        .cnt{
            display: block;
        }
    }

}
.about{
    display: none;
}
.prtf{
    display: none;
}
.ftr{
    display: none;
}
.bl{
    display: none;
}
.prc{
    display: none;
}
.shrt{
    display: none;
}
.cnt{
    display: none;
}
.cart-header {
    width: 1.1rem;
    height: 1.3rem;
    background-image: url(/assets/img/icon-cart.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1%;
    margin-top: 2%;
}

.search-header {
    width: 1.3rem;
    height: 1.3rem;
    background-image: url(/assets/img/search.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2%;
    margin-top: 2%;
}

.logo-header {
    width: 15rem;
    height: 4.5rem;
    background-image: url(/assets/img/Waxom.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 50%;
    margin-left: 2%;
    margin-top: 1%;
}



.bd-example {
    width: 90%;
    margin-top: 5rem;
}

.bd-example-slide {
    top: 5rem;
}

.carousel-indicators {
    top: 20rem;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;

}

.carousel-item {
    text-align: center;
    color: aliceblue;
}

.carousel-caption {
    text-align: center;
    color: aliceblue;
}

h2 {
    margin: 1rem 2rem;
}

.carousel-button {
    background-color: #998675;
    border: solid #998675 0.1rem;
    padding: 0.2rem;
    margin-top: 1rem;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}

.services {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    margin: 5rem 0;
}

.service1 {
    width: 2rem;
    height: 2rem;
    background-image: url(/assets/img/pencil.svg);
    background-size: cover;
    margin-left: 45%;
    margin-bottom: 5%;
}

.service2 {
    @extend .service1;
    background-image: url(/assets/img/layers.svg);

}

.service3 {
    @extend .service1;
    background-image: url(/assets/img/settings.svg);
}

.service4 {
    @extend .service1;
    background-image: url(/assets/img/open-folder.svg);
}

.services-box1 {
    color: #555555;
    text-align: center;
}

.services-job {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.services-describe {
    font-size: 1rem;
    margin-top: 3%;
    text-align: center;
}

.services-line {
    width: 30%;
    margin-top: 5%;
    margin-left: 35%;
    border-top: 0.2rem solid #FFFFFF;
}

.services-box :hover {
    cursor: pointer;

    .service1 {
        fill: #998675;
    }

    .service2 {
        fill: #998675;
    }

    .service3 {
        fill: #998675;
    }

    .service4 {
        fill: #998675;
    }

    .services-line {
        border-top: 0.2rem solid #998675;
    }

    .services-job {
        color: #998675;
    }
}

.ideas-slide {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.ideas-Bigtext {
    width: 100%;
    font-size: 2rem;
    color: #555555;
    font-weight: bold;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 1%;
}

.ideas-text {
    width: 100%;
    font-size: 1.3rem;
    color: #555555;
    text-align: center;

}

.ideas-inner {
    margin-top: 3%;
}

.ideas-browser {
    width: 80%;
    height: 25%;
    margin-left: 5%;
}

.purchase {
    width: 100%;
    height: 5rem;
    background: linear-gradient(to right, #241d1a, #4e3427);
    color: white;
}

.purchase-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
}

.purchase-text {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #615855;

    span {
        font-size: 1.3rem;
        color: #FFFFFF;
    }
}

.purchase-button {
    width: 10rem;
    height: 1.5rem;
    font-size: 1rem;
    line-height: 0.7rem;
    color: #FFFFFF;
    background: #998675;
    border: 1rem solid #998675;
    border-radius: 0.1rem;
    padding: 0.3rem;
}

.projects-Bigtext {
    @extend .ideas-Bigtext;
    margin-bottom: 0.5rem;
}

.projects-text {
    @extend .ideas-text;
}

.projects-categories {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;

    a {
        height: 2rem;
        text-decoration: none;
        font-size: 1.1rem;
        line-height: 1.8rem;
        margin-right: 1rem;
        color: #555555;
        border: 0.1rem solid #b1afaf;
        border-radius: 0.2rem;
        text-align: center;
        padding: 0.2rem 0.7rem;
    }
}

.projects-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    margin-left: 5%;
    margin-right: 5%;
}

.project-photo1 {
    width: 15rem;
    height: 15rem;
    background-image: url(/assets/img/photo1.png);
    background-size: cover;
    background-position: center;

}

.project-photo1:hover {
    cursor: pointer;
    filter: grayscale(70%);
}

.project-photo2 {
    @extend .project-photo1;
    background-image: url(/assets/img/photo2.png);
}

.project-photo3 {
    @extend .project-photo1;
    background-image: url(/assets/img/photo3.png);
}

.project-photo4 {
    @extend .project-photo1;
    background-image: url(/assets/img/photo4.png);
}

.project-photo5 {
    @extend .project-photo1;
    background-image: url(/assets/img/photo5.png);
}

.project-photo6 {
    @extend .project-photo1;
    background-image: url(/assets/img/photo6.png);
}

.projects-cards-text {
    width: 15rem;
    height: 5rem;
    background-color: #fbfaf8;
    font-size: 1rem;
    color: #d1d1d1;
    padding: 1.1rem;

    span {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        color: #cebda7;
    }
}

.project-card-info:hover {
    .project-photo1 {
        cursor: pointer;
        filter: grayscale(70%);
    }

    .projects-cards-text {
        background-color: #362f2d;
        color: #cebda7;

        span {
            color: #FFFFFF;
        }
    }
}

.project-button {
    width: 10rem;
    height: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 0.5rem;
    color: #FFFFFF;
    background: #998675;
    border: 1rem solid #998675;
    border-radius: 0.1rem;
    padding: 0.3rem;
    margin-left: 47%;
    margin-top: 1%;
}

iframe {
    min-width: 100%;
    height: 30rem;
    margin: 2% 0;
    position: relative;
    z-index: -1;
}

.video-text {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 25%;
    margin-left: 20%;
    color: #383636;
    position: absolute;
    z-index: 1;

    span {
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
    }
}

.mobile {
    max-width: 100%;
    height: auto;
    margin-bottom: 2%;
}

.mobile-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.mobile-picture {
    width: 20rem;
    height: 20rem;
    background-image: url(/assets/img/photo1.png);
    background-size: cover;
    background-position: center;
    margin-right: 5%;
}

.mobile-card {
    margin-top: 2%;

    ul {

        list-style-image: url("/assets/img/arrow-circle.svg");

    }
}

.mobile-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #555555;
    margin-bottom: 2%;
}

.mobile-card-list {
    margin-left: 5%;
    margin-top: 2.5%;
}

.counters {
    width: 100%;
    height: 10rem;
    background: linear-gradient(to right, #241d1a, #4e3427);
    color: white;
    font-size: 1rem;
    margin-bottom: 2%;

}

.counters-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.counters-box {
    width: 15rem;
    height: 8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1% 1%;

}

.counters-icon1 {
    width: 2rem;
    height: 2rem;
    background-image: url(/assets/img/client.svg);
    background-size: cover;
}

.counters-icon2 {
    @extend .counters-icon1;
    background-image: url(/assets/img/coffee-cup.svg);
}

.counters-icon3 {
    @extend .counters-icon1;
    background-image: url(/assets/img/sms.svg);
}

.counters-icon4 {
    @extend .counters-icon1;
    background-image: url(/assets/img/heart.svg);
}

.counters-icon5 {
    @extend .counters-icon1;
    background-image: url(/assets/img/meal.svg);
}

.counters-line {
    width: 20%;
    border-top: 0.1rem solid #FFFFFF;
}

.counters-text {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

.counters-number {
    font-size: 1rem;
    letter-spacing: 0.1rem;
}
.posts{
    margin-bottom: 1%;
}
.posts-Bigtext {
    @extend .ideas-Bigtext;
    margin-bottom: 0.5rem;
}

.posts-text {
    @extend .ideas-text;
    font-size: 1.1rem;
}

.posts-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.posts-box {
    width: 15rem;
    margin: 1%;
}

.posts-photo1 {
    width: 15rem;
    height: 12rem;
    background-image: url(/assets/img/post1.png);
    background-size: cover;
    background-position: center;
}

.posts-photo2 {
    @extend .posts-photo1;
    background-image: url(/assets/img/post2.png);
}

.posts-photo3 {
    @extend .posts-photo1;
    background-image: url(/assets/img/post3.png);
}

.posts-button {
    background-color: #ffffff;
    border: solid #ffffff 0.5rem;
    color: #c7b299;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.05rem;
}
.card-title{
    font-size: 1rem;
    letter-spacing: 0;
}
.card-text{
    margin-bottom: 0;
}
.posts-box:hover {
    .card-body{
        background-color: #362f2d;
    }
    .posts-photo1 {
        cursor: pointer;
        filter: grayscale(70%);
    }

    .card-title {
        background-color: #362f2d;
        color: #cebda7;
        font-size: 1.1rem;
    }

    .card-text {
        background-color: #362f2d;
        color: #FFFFFF;
        font-size: 1rem;
    }

    .posts-button {
        background-color: #362f2d;
        border: solid #362f2d 1rem;
        color: #cebda7;
    }
}

.partners-logos{
    width: 90%;
    height: 10rem;
    background-image: url(/assets/img/partners.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin-top: 3rem;
    margin-left: 5rem;
    
}
.partners-bg{
    width: 100%;
    height: 15rem;
    background-image: url(/assets/img/photo-logos.png);
    background-size: cover;
    background-position: center;
}
footer{
    width: 100%;
    height: 35rem;
    background-color: #191919;
}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(15rem, auto);
    grid-column-gap: 1rem;
    padding: 2% 2%;
}

.footer_about_waxom_logo{
    width: 10rem;
    height: 3rem;
    background-image: url(/assets/img/Waxom.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer_about_waxom_text{
    font-size: 1rem;
    color: #5e5b5b;
    margin-top:3rem;
    margin-bottom: 3rem;
}
.footer_about_waxom_link{
    color: #ffffff;
    font-size: 1.2rem;
    text-decoration: none;
}
.footer_post_Btext{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.footer_post_1{
    font-size: 1rem;
    color: #5e5b5b;
    border-bottom: 0.1rem solid #5e5b5b;
    margin-top:1rem;
    padding-bottom: 1.2rem;
    span{
        color: #424242;
    }
}
.footer_post_1:hover{
    cursor: pointer;
    
    color: #ffffff;
    
    span{
        color: #9c8b78;
    }
}
.footer_post_2{
    @extend .footer_post_1;
}
.footer_post_3{
    @extend .footer_post_1;
}
.footer_twitter_Btext{
    @extend .footer_post_Btext;
}
.footer_twitter_1{
    @extend .footer_post_1;
    span{
        color: #00bff3;
    }  
    :hover{
        span{
            color: #00bff3;
        }
    }
}


.footer_twitter_2{
    @extend .footer_twitter_1;
}
.footer_twitter_3{
    @extend .footer_post_1;
    span{
        color: #7c7c7c;
    }
    :hover{
        span{
            color: #7c7c7c;
        }
    }
}
.footer_dribbbl_Btext{
    @extend .footer_post_Btext;
}
.footer_dribbbl_img{
    display: grid;
    grid-template-areas: "dribbbl1"
                        "dribbbl2"
                        "dribbbl3 "
                       "dribbbl4";
    grid-gap: 1rem;
    width: 80%;
    height: 90%;
    margin: 1%;
}

.footer_dribbbl{
    background-image: url(/assets/img/widget1.png);
        width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        grid-area: dribbbl1;
}
.footer_dribbbl_2 {
    background-image: url(/assets/img/widget2.png);
    grid-area: dribbbl2;
}
.footer_dribbbl_3 {
    background-image: url(/assets/img/widget3.png);
    grid-area: dribbbl3;
}
.footer_dribbbl_4 {
    background-image: url(/assets/img/widget4.png);
    grid-area: dribbbl4;
}
.footer_copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #111111;
    color: #5e5b5b;
    font-size: 0.8rem;
    padding: 1% 2%;
}
.footer_copyrigh_left{
    span{
        color:#aaa8a8;
    }
}
.footer_copyrigh_right{
    span{
        color:#aaa8a8;
    }
}